
body {
    font-family: 'Epilogue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 5%;
    background-color: #0a0a0a;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    color: white;
    gap: 5%;
    padding: 0 5% 40px;
}

.hero-section-text {
    flex-basis: 500px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 10px;
}

#hero-section-subtext {
    font-size: 18px;
}

#hero-button {
    padding: 10px 30px;
    background-color: #dcb93b;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    font-family: inherit;
}