body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: gray;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.hero {
    display: flex;
    gap: 20px;
}

.hero-section-image {
    min-width: 400px;
    background-color: blue;
    flex-basis: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: gray;
}