
body {
    font-family: 'Epilogue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

p {
    line-height: 1.75;
}

/* -- Head -- */

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 5%;
    background-color: #0a0a0a;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.brand-logo {
    font-size: 18px;
}

/* -- Body -- */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    color: white;
    gap: 5%;
    padding: 30px 5% 80px;
}

.hero-section-text {
    flex-basis: 500px;
}

h1 {
    font-size: 36px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

#hero-section-subtext {
    font-size: 18px;
}

#hero-button {
    padding: 10px 30px;
    background-color: #dcb93b;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    font-family: inherit;
}

.information-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 5% ;
}

.card-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px 0;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 150;
    text-align: center;
}